body {
	font-family: "微软雅黑";
	font-size: 14px;
	color: #555;
	margin: 0;
	padding: 0;
}
h3,
h4 {
	margin: 0;
	padding: 0;
}
select {
	width: 103%;
	outline: none;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	overflow: hidden;
	font-size: 14px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}
.clearfix {
	clear: both;
}
.red {
	color: #FF6666 !important;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.layout {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.border-plus {
	padding: 2px;
	border: 1px solid #ddd;
	border-radius: 2px;
}
.none {
	display: none !important;
}
header {
	position: relative;
	height: 48px;
	background: #fff;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
header h2 {
	text-align: center;
	line-height: 48px;
	font-size: 17px;
	font-weight: 500;
	margin: 0;
}
header span.success {
	position: absolute;
	right: 15px;
	top: 20px;
	font-size: 1.2em;
}
section .ming {
	background: #fff;
	text-indent: 20px;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #d4d3d4;
	border-bottom: 1px solid #d4d3d4;
}
section .ming input {
	color: #555;
	font-size: 16px;
	min-width: 600px !important;
	outline: none;
	border: 0;
}
.triangle-arrow {
	border-left: 1px solid #B8B8B8;
	border-bottom: 1px solid #B8B8B8;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	width: 15px;
	height: 15px;
	display: block;
	position: absolute;
	right: 20px;
	top: 17px;
}
.item {
	position: relative;
	height: 80px;
}
.item h2 {
	height: 80px;
	font-size: 1.5em;
	padding-left: 3%;
	background: #fff;
	border-bottom: 1px solid #B8B8B8;
}
section.sel {
	overflow: hidden;
}
header span.back {
	display: inline-block;
	width: 36px;
	height: 30px;
	text-indent: -9999px;
	background: url(../images/store_join/back.png) no-repeat;
	position: absolute;
	left: 20px;
	top: 25px;
}
section.item {
	height: 50px;
	background: #fff;
	border-bottom: 1px solid #d4d3d4;
	position: relative;
	line-height: 50px;
	padding-left: 3%;
	text-overflow: ellipsis;
}
section.item select {
	text-overflow: ellipsis;
	width: 100%;
}
section.item span {
	position: absolute;
	left: 140px;
	display: inline-block;
	color: #999;
}
section.item .triangle-arrow {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}
i.hide {
	display: none;
}
div.title {
	padding: 27px 0 0 20px;
	height: 47px;
}
.tit {
	padding-left: 3%;
	height: 45px;
	font-size: 15px;
	line-height: 45px;
	background: rgb(240, 240, 240);
	margin: 0;
	color: #aaa;
}
.upload-pic {
	position: relative;
}
.upload-pic p {
	padding-left: 3%;
	font-size: 16px;
	color: #333;
}
.upload-pic p.red {
	font-size: 13px;
}
.upload-pic img {
	margin-left: 3%;
}
section.pic {
	overflow: hidden;
	background: #fff;
	border-bottom: 1px solid #d4d3d4;
	position: relative;
	padding-left: 3%;
}
section.pic h3 {
	font-size: 20px;
	height: 70px;
	line-height: 70px;
}
.tip {
	font-size: 0.9em;
	margin-bottom: 15px;
	margin-right: 40px;
}
section span.down {
	position: absolute;
	right: 50px;
	top: 20px;
	z-index: 2;
	width: 20px;
	height: 20px;
	background: url(../images/store_join/down.png) no-repeat;
	background-size: 100%;
}
.marks {
	width: 230px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	margin: 30px auto 20px;
	padding-left: 50px;
}
.marks a {
	color: #8e8e8e;
	text-decoration: underline;
	float: left;
	margin-left: 23px;
}
p.next {
	margin: 0 auto 28px auto;
	text-align: center;
	width: 230px;
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	background: #ff4b4b;
	border-radius: 30px;
	cursor: pointer;
}
input.file {
	opacity: 0;
	position: absolute;
	z-index: 20;
	right: 30px;
	top: 10px;
	width: 60px;
	height: 60px;
	background: url(../images/store_join/down.png) no-repeat;
}
section.item a {
	width: 100%;
	height: 100%;
	display: block;
}
.mask {
	position: fixed;
	z-index: 20;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 4, .6);
	left: 0;
	top: 0;
}
section.pic input.button {
	position: absolute;
	width: 35px;
	bottom: 10px;
	right: 30px;
	font-size: 16px;
}
.content {
	background: #fff;
	margin: 15px auto;
	overflow: hidden;
	width: 80%;
	height: 80%;
	border: 1px solid #ddd;
	border-radius: 2px;
	border-top: 3px solid #6699ff;
	margin-top: 10%;
	z-index: 99;
}
.content .agreebox {
	padding: 0 3%;
	overflow-y: scroll;
	height: 100%;
	line-height: 1.8;
	color: #666;
	font-size: 12px;
}
.content h3 {
	text-align: center;
	padding-top: 10px;
	font-weight: normal;
	margin: 0;
	position: relative;
	height: 40px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
}
#overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
}
.content .close-btn {
	display: block;
	width: 20px;
	height: 20px;
	background: #ff6666;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	line-height: 20px;
	font-size: 10px;
	position: absolute;
	right: 10px;
	top: 10px
}
.page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -400px;
	z-index: 22;
	display: none;
}
.page-layout {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	background: #fff;
}
.joinin-summary {
	width: 100%;
}
.joinin-summary .list {
	padding: 0 3%;
}
.joinin-summary .list .paylist {
	font-size: 14px;
	height: 45px;
	width: 45%;
	background: #fff;
	float: left;
	line-height: 45px;
	padding-left: 4.7%;
	border-bottom: 1px solid #eee;
}
.joinin-summary .list .paylist:nth-child(2n+1) {
	border-right: 1px solid #eee;
}
.typeinfo {
	overflow: hidden;
	background: #fff;
	width: 100%;
	background: url(../images/store_join/sanjiao.png) no-repeat 0 100%;
	background-size: 100%;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.typeinfo ul {
	width: 100%;
	height: 30px;
	list-style-type: none;
	margin: 20px 0;
	padding: 0;
}
.typeinfo ul li {
	float: left;
	width: 25%;
	line-height: 30px;
	height: 30px;
	overflow: hidden;
	color: #7e7e7e;
	font-size: 15px;
	text-align: center;
}
.typeinfo ul li.scope-list {
	font-size: 13px;
	color: #0066ff;
}
.strip {
	background: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.pay-box {
	display: inline-block;
	vertical-align: top;
}
.pay-box p {
	line-height: 10px;
}
.pay-icon {
	width: 60px;
	height: 80px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 60%;
}
.wechat {
	background-image: url(../images/store_join/bank.png);
}
.alipay {
	height: 66px;
	background-image: url(../images/store_join/zhifubao.png);
}
section input.filepay {
	top: 10px;
	cursor: pointer;
	width: 45px;
	height: 40px;
}
.weixinzhifu {
	position: absolute;
	z-index: 2;
	line-height: 40px;
	left: 0;
	width: 100%;
	height: 100%;
}
#sc_id option {
	height: 40px;
}
.paylist {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.paylist span {
	font-size: 13px;
	color: #0066ff;
}
section.picpay span {
	top: 16px;
}
.pay_certificate {
	position: absolute;
	right: 30px;
	width: 31px;
	top: 46px;
	height: 14px;
}
.page .pay_certificate {
	top: 55px;
}
a.backindex {
	width: 50%;
	margin: 0 auto;
	display: block;
	text-align: center;
	margin-top: 30px;
	border-radius: 15px;
	height: 40px;
	line-height: 40px;
	background: #ff4b4b;
	color: #fff;
}
.item a i {
	color: #000;
	float: left;
	font-weight: 600;
	font-style: normal;
}
.textarea {
	width: 84%;
	padding: 3%;
	display: block;
	font-size: 16px;
	outline: #000;
	margin: 20px auto;
	border: 1px solid #ccc;
	-moz-user-select: text;
	-webkit-user-select: text;
}
.success {
	color: #000;
}
.maskload {
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .4);
	position: fixed;
	left: 0;
	top: 0;
}
.maskload img {
	position: absolute;
	top: 40%;
	left: 45%;
}
.item a i {
	display: inline-block;
	width: 34%;
}
section.zhongdian {
	margin-top: 30px;
	font-size: 14px;
	height: auto;
	margin-bottom: 30px;
	text-align: left;
	overflow: hidden;
}
input.submit {
	-moz-appearance: none;
	appearance: none;
	-webkit-appearance: none;
	margin: 40px auto;
}
.city {
	display: none;
}
#s_province,
#s_city,
#s_county {
	background: #fff;
	height: 40px;
	line-height: 40px;
	padding-left: 3%;
	width: 100%;
	border-bottom: 1px solid #ccc;
}
.checkbox {
	position: relative;
	top: 3px;
	height: 16px;
	border: 1px solid #ccc;
	left: -205px;
	width: 16px;
}
.error {
	height: 30px;
	line-height: 30px;
	padding-left: 3%;
	color: #ff4b4b;
	display: none;
}
header span.back {
	background-size: 70%;
}
.joinin-intro {
	margin: 0 3%;
	font-size: 15px;
	line-height: 1.3em;
}
.intro-title {
	height: 50px;
	line-height: 50px;
	width: 100%;
	color: rgb(255, 75, 75);
	font-size: 16px;
	font-weight: bold;
	margin: 15px 0;
}
.intro-title i {
	width: 40px;
	height: 40px;
	display: block;
	float: left;
	background: url("../images/store_join/indicn.png") no-repeat center 2px;
	background-size: 90%;
	margin-right: 3%;
}
.intro-title .title-txt {
	float: left;
	width: 36%;
	height: 50px;
	display: block;
	text-align: left;
}
.intro-title .red-line {
	display: block;
	float: right;
	width: 60%;
	height: 25px;
	border-bottom: 1px solid rgb(255, 75, 75);
	margin-right: 3%;
}
.joinin-intro p {
	text-indent: 2em;
}
.intro-item {
	padding: 15px 15px 15px 80px;
	position: relative;
}
.intro-item i {
	display: inline-block;
	width: 42px;
	height: 44px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.joinin-intro.title2 .intro-item i,
.joinin-intro.title3 .intro-item i {
	background: url("../images/store_join/indiconbg.png") no-repeat;
}
.joinin-intro.title5 .intro-item i {
	background: url("../images/store_join/indicn.png") no-repeat;
	width: 50px;
	height: 50px;
	background-size: 95%;
}
.joinin-intro #icon1 {
	background-position: center -137px;
}
.joinin-intro #icon2 {
	background-position: center -188px;
}
.joinin-intro #icon3 {
	background-position: center -234px;
}
.joinin-intro #icon4 {
	background-position: center -281px;
}
.joinin-intro #icon5 {
	background-position: center -330px;
}
.joinin-intro #icon6 {
	background-position: center 4px;
}
.joinin-intro #icon7 {
	background-position: center -42px;
}
.joinin-intro #icon8 {
	background-position: center -88px;
}
.joinin-intro #icon9 {
	background-position: center -55px;
}
.joinin-intro #icon10 {
	background-position: center -110px;
}
.joinin-intro #icon11 {
	background-position: center -160px;
}
.joinin-intro #icon12 {
	background-position: center -211px;
}
.joinin-intro #icon13 {
	background-position: center -265px;
}
.joinin-intro.title5 {
	position: relative;
}
.joinin-intro.title5 .verticle-bar {
	background: url("../images/store_join/ind_bg.png") repeat-y;
	width: 10px;
	height: 360px;
	position: absolute;
	top: 60px;
	left: 30px;
}
.joinin-intro .intro-brand {
	display: block;
	float: left;
	width: 22.2%;
	margin-right: 2%;
	margin-bottom: 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 3px #ececec;
	border: 1px solid #ECECEC;
}
.joinin-btn {
	color: #fff;
	text-decoration: none;
}
#stop_in {
	background-color: #fff;
}
#stop_in h3.headline {
	color: #f30a52;
	font-size: 16px;
	text-align: center;
}
#stop_in h4.title {
	
	float: left;
	margin-top: 35px;
	margin-bottom: 26px;
}
#stop_in h4.title img {
	float: right;
	margin-right: -31px;
    height: 39px;
}
#stop_in .article {
	font-size: 16px;
	margin-top: 20px;
	padding: 0 10px;
}
#stop_in .article p {
	text-indent: 2em;
	line-height: 25px;
}
#stop_in .advantage {
	font-size: 13px;
	line-height: 18px;
}
#stop_in .advantage dl {
	height: 48px;
}
#stop_in .advantage dt {
	background-color: #ff417d;
	width: 20%;
	margin-right: 1%;
	float: left;
	box-sizing: border-box;
	padding: 10px 10px 10px 20px;
	color: #fff;
	height: 48px;
	/*line-height:18px;*/
}
#stop_in .advantage dd {
	background-color: #eaecf6;
	width: 79%;
	float: left;
	box-sizing: border-box;
	padding: 5px 20px 5px 10px;
	height: 48px;
}
#stop_in .pt17 {
	padding-top: 13px !important;
}
#stop_in .p_tip {
	color: #666;
	padding-left: 10px;
	padding-top: 10px;
}
#stop_in img {
	display: block;
}
#stop_in footer {
	height: 50px;
	padding: 10px 30px;
	background-color: #666;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #fff;
	box-sizing: border-box;
	text-align: center;
}
#stop_in .inland,
.foreign {
	height: 30px;
	line-height: 30px;
	background-color: #f70c61;
	width: 40%;
}
#stop_in .inland {
	float: left;
}
#stop_in .foreign {
	float: right;
}
.joinin-btn{
	height: 50px;
    background-color: rgba(243,10,82,.9);
    position: fixed;
    bottom: 0;
    left:0;
    line-height: 50px;
    text-align: center;
    font-size:16px;
    width:100%;
}
